<!-- simple home page -->
<h1 class = "text-center">Warhammer 40K</h1>
<br><br>
<%= image_tag "homepage", class: "homeimage" %>
<br><br>
<!-- Button that takes you to the browse page -->
<div class='d-flex justify-content-center'>
  <%= link_to "Browse", listings_path,  class: "btn btn-primary center"%> 
</div>
